* {
  font-family: "Didot";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.15s;
}

:root {
  --navbar-footer-background-color: #ffffff;
  --navbar-text-color: #00236e;
  --main-background-color: #add8e6;
  --main-text-color: #000000;
  --button-color: #00236e;
}

[data-theme="dark-mode"] {
  --navbar-footer-background-color: #add8e6;
  --navbar-text-color: #00236e;
  --main-background-color: #00236e;
  --main-text-color: #ffffff;
  --button-color: #add8e6;
}
