@import "general.css";

main {
  background-color: var(--main-background-color);
  width: 100%;
  padding-top: 75px;
}

.main-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-top: 14%;
  padding-bottom: 14%;
}

.home-content {
  text-align: center;
  color: var(--main-text-color);
}

.home-name {
  font-size: 56px;
  margin-bottom: 16px;
}

.home-caption-container {
  margin-left: 70px;
  margin-right: 70px;  
}

.home-caption {
  font-size: 24px;
  text-align: left;
  width: 100%;
}

.resume-button {
  background-color: var(--button-color);
  color: var(--main-background-color);
  border: none;
  border-radius: 64px;
  padding: 16px 64px;
  margin-top: 24px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  transition: opacity 0.15s;
}

.resume-button:hover {
  opacity: 0.6;
  cursor: pointer;
}